<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

 


 <!---
    seções comuns de documentos HTML

    -cabeçalho <header>
    -nevegação <nav>
    -conteúdo principal <main>
    -barra lateral <aside>
    -rodapé <footer>
        
    
    ( <blockquoto> aqui o texto e em baixo autor
            <cite>- Gabriel fernandes bloco de citações )
        </blockquoto>
pra fazer uma caixa de conversa

                                <dl class="chat"
                                    <dt>Beth</dt>
                                    <dd>Great news! I got the job!</dd>
                                    <dt>Sam</dt>
                                    <dd>that's awesome! when do you start"</dd> 
                                </dl>

                                <blockquoto>
                                    <cite>Beth</cite>
                                    <p>Great news! I got the job!</p>
                                </blockquoto>   

                                <blockquoto>
                                    <cite>Sam</cite>
                                    <p>that's awesome! when do you start"</p> 
                                </blockquoto>



 -->


<body>
  <!-- 
    <video src="./vd/primeiro filme.mp4" controls
    preload="auto" autoplay loop muted
     width="500"height="400" contextmenu="Gabriel"
     ></video>

    


    <video controls autoplay muted>
        <source src="./vd/primeiro filme.mp4"type="video/mov">
   
    </video>

    <audio src="./vd/FINNEAS - Break My Heart Again.mp3"
    controls loop autoplay>
    </audio>
    -->
<!--
    <iframe width="560" height="315" src="https://www.youtube.com/embed/E19EF9r3nOY"
     title="YouTube video player"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>

   
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.254570869566!2d-74.0075344338963!3d40.712412072758404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNova%20Iorque%2C%20NY%2C%20EUA!5e0!3m2!1spt-BR!2sbr!4v1617134663495!5m2!1spt-BR!2sbr"
    width="600" height="450" style="border:0;"
    allowfullscreen="" loading="lazy"></iframe>
-->

    <figure class="figura">

        
        <a href="">
           
            <img 
                src="https://source.unsplash.com/random"
                alt="imagem de alguma coisa"
                title="imagem principal"
                width="250px"
                
                
            >
        </a>
        <figcaption>Fotografia</figcaption>
    </figure>
    <style>
        .figura a img{
            border-radius: 15px 15px;
        }
    </style>

</body>
</html>